<!DOCTYPE html>
	<html class="no-js" lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8">
		<meta name="language" content="en">
		<meta http-equiv="content-language" content="en" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>{{meta.title}}</title>
		<meta name="description" content="{{meta.description}}" />
		<meta name="keywords" content="{{meta.keywords}}" />

		<meta property="og:title" content="{{meta.title}}">
		<meta property="og:type" content="{{meta.og.type}}">
		<meta property="og:url" content="{{meta.og.url}}">
		<meta property="og:image" content="{{meta.image}}">
		<meta property="og:site_name" content="Ph Media">
		<meta property="og:description" content="{{meta.description}}">

		<meta name="google-site-verification" content="{{meta.googleVerification}}">

		<link rel="canonical" href="{{meta.canonical}}" />
		<link rel="alternate" href="{{meta.alternate}}" hreflang="en-gb" />

		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

			<link rel="stylesheet" href="/_client/styles/main.css" type="text/css" />
	</head>
	<body>
